.App {
  text-align: left;
  padding: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.box{
  display: inline-block;
  width: 100px;
  height: 45px;
  margin: 10px aut0;
  overflow: auto;
  box-shadow: 1px 3px 2px 1px #9E9E9E;
  padding: 12.5px;
  margin-right: 10px;
  margin-bottom: 25px;
}

.input-box{
  color: #888;
  margin-bottom: 5px;
}

.input-box-focus{
  color: #282c34;
  margin-bottom: 5px;
}

.radio{
  margin-bottom: 15px;
}

.form{
  margin-bottom: 30px;
}

.history{
  display: inline-block;
  margin-right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
